@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* 共通部分 */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    visibility: hidden;
}

h2 {
    background: linear-gradient(to right, rgb(106, 196, 255), rgba(255, 255, 255, 0));
    padding: 10px;
    padding-left: 10px;
    border-left: 5px solid blue;
    font-family: serif;
    margin-bottom: 30px;
}

section {
    margin: 50px 15%;
}

article {
    margin: 20px 0;
}

article::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../img/sky.png);
    background-position: top;
}

article li {
    margin: 5px auto;
}

article a {
    display: inline-block;
    text-decoration: none;
    color: #0067b7;
    transition: color .3s;
    position: relative;
    z-index: 1;
}

article a:visited {
    color: #3a006c;
}

article a::after {
    position: absolute;
    /* left: 50%; */
    left: 0;
    bottom: -0.1em;
    content: "";
    width: 0;
    height: 0.1em;
    background-color: #0067b7;
    /* transform: translateX(-50%); */
    transition: width .4s;
}

article a:visited::after {
    background-color: #3a006c;
}

article a:hover::after {
    width: 100%;
}

article a.deadLink {
    text-decoration: line-through;
    color: rgb(0, 25, 137);
}

table {
    border-collapse: collapse;
    border: 3px solid #0067b7;
}

table tr th {
    border: 3px solid #0067b7;
    padding: 7px;
    background-color: #bfdef6;
}

table tr td {
    border: 3px solid #0067b7;
    padding: 7px;
}

div.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

div.loading div {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: 2rem dotted rgb(0, 118, 160);
    animation: 5s linear infinite rotate;
}

div.loading span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 118, 160);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

div.loading div.loaded,
div.loading span.loaded {
    display: none;
}

div.loading.loaded {
    animation: 1s loading forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index: 1000;
    }

    99% {
        opacity: 0;
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}

/* TOP */

div.flexSns {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

div.twitter {
    width: 500px;
    max-width: 90%;
}

div.instagram {
    width: 500px;
    max-width: 90%;
}

/* 歴史 */

table.history,
table.magazine {
    border: 0;
}

table.history tr td,
table.magazine tr td {
    border: 0;
    /* border-bottom: 2px solid #cbcbcb;
    border-top: 2px solid #cbcbcb; */
    border: 2px solid #cbcbcb;
}

table.history tr td.column1,
table.magazine tr td.column1 {
    color: white;
    background-color: rgb(0, 132, 255);
    white-space: nowrap;
    text-align: center;
    position: sticky;
    left: 0;
    z-index: 10;
}

table.history tr td.column2 {
    background-color: #eef3fa;
    white-space: nowrap;
}

table.history tr:nth-of-type(2n) td.column3 {
    background-color: #f3f3f3;
}

table.history tr:nth-of-type(2n-1) td.column3 {
    background-color: #ffffff;
}

/* 活動 */

table.activity tr td,
table.activity tr th {
    padding: 10px;
}

/* 部誌 */

table.magazine tr td.column2 {
    background-color: #f4fbff;
    white-space: nowrap;
    text-align: center;
}

table.magazine tr td.column3 {
    background-color: #eef3fa;
    /* text-align: center; */
}

table.magazine tr td.column4 {
    background-color: #f6f6f6;
}

table.magazine tr:nth-of-type(2n) td.column4 {
    background-color: #e6e6e6;
}

/* リンク */


/* SNS */

div.sns {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
}

div.linkBox {
    text-align: center;
}

div.linkBox a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

div.linkBox a::after {
    display: none;
}

div.linkBox a:visited {
    color: currentColor;
}

div.linkBox a>div {
    margin: 10px;
    border: 4px solid rgb(0, 120, 189);
    border-radius: 30px;
    width: 15em;
    transition: .5s background-color;
    background-color: rgba(255, 255, 255, 0.65);
}

div.linkBox a>div:hover {
    background-color: #c5e3f7;
    cursor: pointer;
}

div.linkBox div div {
    font-size: large;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
}

div.linkBox div div:nth-of-type(1) {
    width: 54%;
    text-align: left;
    padding-left: 1.5em;
}

div.linkBox div div:nth-of-type(2) {
    width: 44%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section {
        margin: 50px 10px;
    }
}

@media screen and (max-width: 1000px) {
    table.history,
    table.magazine {
        white-space: nowrap;
    }

    div.table-wrap {
        overflow-x: scroll;
    }

    div.table-wrap::before {
        content: "※横にスクロールできます。";
        position: sticky;
        left: 0;
    }
}