@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    background-image: url("img/top.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
}

header img {
    max-height: 350px;
    max-width: 90%;
    margin: 15vh 10px;
    border: 5px solid white;
    border-radius: 50px;
    box-shadow: rgba(14, 30, 37, 0.36) 0px 2px 4px 0px, rgba(14, 30, 37, 0.96) 0px 2px 16px 0px;
}

header h1 {
    margin: 0;
    background-color: #0064b0b5;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url("./apple-touch-icon.png");
    display: inline-block;
    background-size: cover;
    margin-right: 5px;
}

div.h1Text {
    display: inline-block;
    padding: 10px 0;
}

header nav ul {
    padding: 0;
    background-color: rgb(0, 89, 205);
    text-align: center;
    margin: 0;
    /* border-top: 3px solid rgb(0, 53, 211);
    border-bottom: 3px solid rgb(0, 53, 211); */
}

header nav li {
    display: inline-block;
    padding: 20px 2%;
    /* background-color: rgb(0, 75, 172); */
    box-sizing: border-box;
}

header nav li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s;
    font-size: large;
}

header nav li a:hover {
    color: rgb(255, 221, 0);
    cursor: pointer;
}

a.noLink {
    text-decoration: line-through;
    color: rgb(0, 25, 137);
}

section {
    padding: 20px 15%;
}

section li {
    margin: 5px auto;
}

table {
    border-collapse: collapse;
    border: 3px solid #0067b7;
}


table tr th {
    border: 3px solid #0067b7;
    padding: 5px;
    background-color: #bfdef6;
}

table tr td {
    border: 3px solid #0067b7;
    padding: 5px;
}

table.history,
table.magazine {
    border: 0;
}

table.history tr td.column1 {
    background-color: #c2e7ff;
    width: 5%;
    text-align: center;
}

table.history tr td.column2 {
    background-color: #eef3fa;
}

table.history tr:nth-of-type(2n) td:nth-of-type(3) {
    background-color: #ececec;
}

table.magazine tr td,
table.history tr td {
    border: 0;
    border-bottom: 2px solid #cbcbcb;
    border-top: 2px solid #cbcbcb;
}

table.magazine tr td.column1 {
    color: white;
    background-color: #0099ff;
    width: 5%;
    text-align: center;
}

table.magazine tr td.column2 {
    background-color: #f4fbff;
    width: 10%;
    text-align: center;
}

table.magazine tr td.column3 {
    background-color: #eef3fa;
    width: 20%;
    /* text-align: center; */
}

table.magazine tr td.column4 {
    background-color: #f6f6f6;
}

table.magazine tr:nth-of-type(2n) td.column4 {
    background-color: #e6e6e6;
}

table a {
    text-decoration: none;
    color: #0800ff;
    transition: .3s;
}

table a:hover {
    color: #009ab2;
}

h2 {
    background: linear-gradient(to right, rgb(106, 196, 255), rgb(255, 255, 255));
    padding: 5px;
    border-left: 5px solid blue;
    margin-top: 40px;
}

div.sns {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
}

div.link {
    text-align: center;
}

a.link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

div.link a>div {
    margin: 10px;
    border: 4px solid rgb(0, 120, 189);
    border-radius: 30px;
    width: 15em;
    transition: .5s background-color;
}

div.link a>div:hover {
    background-color: #dff2ff;
    cursor: pointer;
}

div.link div div {
    font-size: large;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
}

div.link div div:nth-of-type(1) {
    width: 54%;
    text-align: left;
    padding-left: 1.5em;
}

div.link div div:nth-of-type(2) {
    width: 44%;
    text-align: center;
}

img.logo {
    height: 3em;
}

footer {
    border-top: 20px solid rgb(0, 89, 205);
    background-image: url("img/footer.jpg");
    background-position: top;
    background-size: cover;
    padding: 10px;
    text-align: center;
    height: calc(100vw * 9 / 16);
}

footer div {
    background-color: #eff8ffbd;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
}

footer p {
    margin: 25px auto;
}

footer a {
    text-decoration: none;
    color: black;
}

footer span.icon {
    margin-right: 1em;
    border: 2px solid #0067b7;
    padding: 5px;
    border-radius: 15px;
}

footer p.copyright {
    color: white;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black;
}

div.top div {
    height: 70px;
    width: 50px;
    clip-path: polygon(100% 45%, 68% 38%, 75% 100%, 25% 100%, 32% 38%, 0 45%, 50% 0);
    background-color: rgb(255, 255, 255);
}

div.top {
    right: 0;
    bottom: 0;
    position: fixed;
    padding: 10px;
    background-color: #006affbd;
    opacity: 0;
    transition: ease .4s opacity;
}

div.top.display {
    opacity: 1;
}

@media screen and (max-width: 780px) {
    header h1 {
        margin: 0;
        background-color: #0064b0b5;
        color: white;
        font-size: large;
    }

    div.icon {
        margin-right: 0px;
    }

    header nav li a {
        font-size: medium;
    }

    section {
        padding: 10px 20px;
    }

    header img {
        width: 80%;
        height: auto;
        max-height: none;
        margin: 20vh 0px;
        border: 2px solid white;
        border-radius: 30px;
    }

    footer {
        height: auto;
        background-position: left;
    }

    footer p.copyright {
        margin-bottom: 90px;
    }

    div.top {
        right: 5px;
        bottom: 5px;
        padding: 5px;
    }

    div.top div {
        width: 30px;
        height: 50px;
    }
}